<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles-men-clothes.css}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header class="main__header">
    <div class="header__wrapper">
        <form th:method="GET" th:action="@{/main}" class="category-form">
            <button class="button__logo">
                <img class="main__logo"  src="../images/config/logo/logoMain.png">
            </button>
        </form>
        <nav>
            <a class="el__nav" href="#">Convinion</a>
            <a class="el__nav" href="#">Fast Delivery</a>
            <a class="el__nav" href="#">Service</a>
        </nav>
    </div>
</header>

    <div class="intro">
        <div class="general">
            <div class="title">
                <div class="category__small">
                    <button class="button__card">Online help</button>
                </div>
                <div class="title__text">
                    <h1 class="title__head__text">Kamerdiano</h1>
                </div>
                <div class="basket__logo">
                    <img class="image__basket" src="../images/config/other/basket.png">
                    <form th:method="GET" th:action="@{/showBasket}" th:object="${basket}">
                        <button class="button__card">Card</button>
                    </form>
                </div>
            </div>
            <div class="description__clothing">
                <h1 class="title__gender" th:text="${title}"></h1>
                <p class="describe__clothes">
                    We have a special approach to choosing clothes that helps our customers feel exceptional and express their unique style.
                    Our team of fashion experts always stays ahead of the latest trends and selects only the best products from renowned brands. We carefully choose materials to ensure the quality and comfort of each item. Whether you're looking for an outfit for a workday, an evening event, or a beach vacation, we have the perfect choice for every occasion.
                </p>
            </div>

            <div class="clohing__all">
                <div class="current__clothes" th:each="choice: ${clothesByChoice}">
                    <form th:method="GET" th:action="@{/description}" th:object="${item}">
                        <input th:value="${choice.getId()}" type="hidden"  name="id" id="id" >
                        <center>
                            <button class="button__photo">
                                <img class="image__clothes" th:src="${choice.getImage()}">
                            </button>
                        </center>
                    </form>
                    <div class="clothes__current__description">
                        <div class="current__clothes__text">
                            <p th:text="${choice.getName()}" class="text__clothes__name">Burgundy Cotton Geo Polo</p>
                            <p th:text="${choice.getPrice()}" class="text__clothes__price">35$</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>